// $mobile-width: 320px;
$tablet-width: 568px;
$desktop-width: 991px;
// $mobile-width-only: 767px;

$padding: 10px;
// $mobile-padding: 20px;
// $tablet-padding: 60px;
// $desktop-padding: 120px;

// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;


$accent-color: #FE2230;